<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание функции генерации пароля</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <p class="description-text">
        Функция генерации пароля принимает GET-запрос, содержащий параметры, выбранные пользователем: использование верхнего регистра, цифр и специальных символов.
        На основе этих параметров функция создает строку, включающую соответствующие символы, и генерирует случайный пароль указанной длины.
        Сгенерированный пароль передается обратно в шаблон и отображается на веб-странице.
    </p>
    <p class="back-link"><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>
