{% extends 'base.html' %}

{% block content %}
    {{ super() }}  <!-- Вставляет содержимое родительского блока content из расширенного шаблона base.html -->

    <div class="about-container">  <!-- Открывает контейнер с классом about-container для стилизации содержимого -->
        <h1>О нашем автосервисе</h1>  <!-- Заголовок первого уровня для названия секции -->
        <p>Добро пожаловать в наш автосервис "АвтоМастер"! Мы предлагаем широкий спектр услуг по ремонту и обслуживанию автомобилей любых марок и моделей.</p>  <!-- Абзац с вводным текстом о сервисе -->

        <h2>Наши услуги</h2>  <!-- Заголовок второго уровня для секции услуг -->
        <ul>  <!-- Ненумерованный список услуг -->
            <li>Техническое обслуживание</li>  <!-- Элемент списка: Техническое обслуживание -->
            <li>Ремонт двигателя</li>  <!-- Элемент списка: Ремонт двигателя -->
            <li>Ремонт трансмиссии</li>  <!-- Элемент списка: Ремонт трансмиссии -->
            <li>Ремонт ходовой части</li>  <!-- Элемент списка: Ремонт ходовой части -->
            <li>Кузовной ремонт</li>  <!-- Элемент списка: Кузовной ремонт -->
            <li>Покраска автомобилей</li>  <!-- Элемент списка: Покраска автомобилей -->
        </ul>

        <h2>Наши преимущества</h2>  <!-- Заголовок второго уровня для секции преимуществ -->
        <p>Мы гордимся нашей командой высококвалифицированных мастеров, использующих только современное оборудование и оригинальные запчасти. Мы гарантируем высокое качество работ и индивидуальный подход к каждому клиенту.</p>  <!-- Абзац с описанием преимуществ -->

        <h2>Контакты</h2>  <!-- Заголовок второго уровня для секции контактов -->
        <p>Адрес: ул. Фейковая, 123, г. Москва</p>  <!-- Абзац с адресом -->
        <p>Телефон: +7 (999) 888-77-66</p>  <!-- Абзац с телефоном -->
        <p>Сайт: www.avtomaster.ru</p>  <!-- Абзац с веб-сайтом -->
        <p>Email: info@avtomaster.ru</p>  <!-- Абзац с email -->
    </div>

    <div class="background-image" style="background-image: url('{{ background_image_url }}');"></div>  <!-- Контейнер с фоновым изображением, URL которого передается в переменной background_image_url -->
{% endblock %}
