{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="about-container">
    <h1>О нашем автосервисе</h1>
    <p>Добро пожаловать в наш автосервис "АвтоМастер"! Мы предлагаем широкий спектр услуг по ремонту и обслуживанию автомобилей любых марок и моделей.</p>
    <h2>Наши услуги</h2>
    <ul>
        <li>Техническое обслуживание</li>
        <li>Ремонт двигателя</li>
        <li>Ремонт трансмиссии</li>
        <li>Ремонт ходовой части</li>
        <li>Кузовной ремонт</li>
        <li>Покраска автомобилей</li>
    </ul>

    <h2>Наши преимущества</h2>
    <p>Мы гордимся нашей командой высококвалифицированных мастеров, использующих только современное оборудование и оригинальные запчасти. Мы гарантируем высокое качество работ и индивидуальный подход к каждому клиенту.</p>

    <h2>Контакты</h2>
    <p>Адрес: ул. Фейковая, 123, г. Москва</p>
    <p>Телефон: +7 (999) 888-77-66</p>
    <p>Сайт: www.avtomaster.ru</p>
    <p>Email: info@avtomaster.ru</p>
</div>
<div class="background-image" style="background-image: url('{{ background_image_url }}');"></div>
{% endblock %}