<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" sizes="any">
    <link rel="icon" href="/favicon.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/favicon16.png" type="image/png" sizes="16x16">
    {% block title %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>АвтоМастер</title>
    {% endif %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% block content %}
{% block menu %}
<ul class="menu">
    {% for m in menu %}
    <li><a href="{{ m.url }}">{{ m.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
<div class="content">
{% endblock %}
</div>
</body>
</html>