{% extends 'base.html' %}  <!-- Расширяет шаблон base.html. Это означает, что текущий шаблон будет наследовать все блоки и содержимое из base.html -->

{% block content %}
    {{ super() }}  <!-- Вставляет содержимое родительского блока content из расширенного шаблона base.html -->

    <div class="welcome-message">  <!-- Открывает контейнер с классом welcome-message для стилизации содержимого -->
        <h1>Добро пожаловать в наш автосервис!</h1>  <!-- Заголовок первого уровня для приветствия -->

        <!-- Параграфы с текстом приветствия и описанием автосервиса -->
        <p>Приветствую всех автолюбителей в нашем автосервисе! Мы рады приветствовать вас в мире безупречного ремонта и профессионального обслуживания.</p>
        <p>Знаем, что ваш железный конь – это не просто средство передвижения, а верный спутник, с которым вы проводите немало времени. Поэтому мы стремимся обеспечить ему самый лучший уход, чтобы он радовал вас безупречной работой и отличным внешним видом.</p>
        <p>Наши мастера – настоящие виртуозы автомобильного ремесла. Их золотые руки творят чудеса, превращая поцарапанные и потрепанные авто в сияющие произведения искусства. Они готовы взяться за любую задачу, будь то замена расходников или сложный кузовной ремонт.</p>
        <p>Мы понимаем, что ваше время бесценно, поэтому стремимся работать быстро и качественно. Наш девиз – "Ремонт с мастерством и скоростью". Мы гарантируем, что ваш железный конь будет отремонтирован в кратчайшие сроки, без ущерба для качества работ.</p>
        <p>Так что не стесняйтесь обращаться к нам! Мы с радостью примем вашего четырехколесного друга и вернем его в идеальном состоянии. Ваш комфорт и удовлетворение – наш главный приоритет!</p>
    </div>

    <div class="background-image" style="background-image: url('{{ background_image_url }}');"></div>  <!-- Контейнер с фоновым изображением, URL которого передается в переменной background_image_url -->

{% endblock %}
