{% extends 'skills/base.html' %}
{% load static %}
{% block content %}

<div class="site-description">
    <h1>О сайте</h1>

    <div class="description-text">
        <p>Добро пожаловать на наш сайт! Здесь вы найдете множество интересных материалов:</p>

        <ul>
            <li><strong>Блоги:</strong> У нас есть разнообразные статьи на различные темы.</li>
            <li><strong>Влоги:</strong> Посмотрите наши видеообзоры и рассказы.</li>
            <li><strong>Раздел для разработчиков:</strong> Информация и инструменты для профессионалов в IT.</li>
        </ul>

        <p>Мы стремимся предоставить вам актуальную информацию и полезные материалы. Наслаждайтесь использованием нашего сайта!</p>
    </div>
</div>

{% endblock %}
