/* Основные стили для тела документа */
body {
    background: lightyellow; /* Задает светло-желтый цвет фона для всего документа */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Устанавливает семейство шрифтов для текста */
}

/* Контейнер для основного контента */
.container {
    width: 400px; /* Задает фиксированную ширину контейнера */
    margin: 0 auto; /* Центрирует контейнер по горизонтали */
    padding: 20px; /* Добавляет внутренние отступы внутри контейнера */
    background-color: greenyellow; /* Устанавливает цвет фона для контейнера */
    box-sizing: border-box; /* Включает отступы и границы в общую ширину и высоту элемента */
    border-radius: 6px; /* Закругляет углы контейнера */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляет тень к контейнеру */
}

/* Заголовки */
h1 {
    text-align: center; /* Центрирует текст заголовка */
}

/* Стили для формы и заголовков внутри контейнера */
.container form, .container h2 {
    background-color: greenyellow; /* Устанавливает цвет фона */
    padding: 20px; /* Добавляет внутренние отступы */
    box-sizing: border-box; /* Включает отступы и границы в общую ширину и высоту элемента */
    border-radius: 6px; /* Закругляет углы */
}

/* Метки для чекбоксов */
label {
    display: block; /* Устанавливает блочный тип отображения для меток */
    margin-bottom: 10px; /* Добавляет нижний отступ для меток */
}

/* Кнопки */
button {
    display: block; /* Устанавливает блочный тип отображения для кнопок */
    width: 100%; /* Задает ширину кнопок в 100% от родительского элемента */
    padding: 10px; /* Добавляет внутренние отступы */
    background-color: darkgreen; /* Устанавливает темно-зеленый цвет фона для кнопок */
    color: white; /* Задает белый цвет текста для кнопок */
    border: none; /* Убирает границы кнопок */
    border-radius: 4px; /* Закругляет углы кнопок */
    cursor: pointer; /* Устанавливает указатель мыши в виде руки при наведении на кнопку */
}

button:hover {
    background-color: green; /* Меняет цвет фона кнопок при наведении */
}

/* Вывод пароля */
#passwordOutput {
    word-wrap: break-word; /* Переносит слова на новую строку при необходимости */
}

/* Текст описания */
.description-text {
    font-size: 16px; /* Устанавливает размер шрифта */
    line-height: 1.6; /* Задает высоту строки */
    margin-bottom: 20px; /* Добавляет нижний отступ */
    color: #333; /* Устанавливает темно-серый цвет текста */
}

/* Ссылки */
.back-link a {
    color: darkgreen; /* Устанавливает темно-зеленый цвет текста для ссылок */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    font-weight: bold; /* Делает текст ссылок жирным */
}

.back-link a:hover {
    text-decoration: underline; /* Добавляет подчеркивание у ссылок при наведении */
}
